{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-3 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="javascript:void(0)" onclick="funcName()" class="btn btn-primary buy-click" data-id="{{ product.id }}">Купить</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.querySelectorAll('.buy-click').forEach(function (item) {
            item.addEventListener('click', function () {
                console.log('click');
            });
        });
    </script>
{% endblock %}
