{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
            <div class="col-3 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="javascript:void(0)" onclick="buy(this)" class="btn btn-primary buy-click" data-id="{{ product.id }}">Купить</a>
                        <div class="d-none" style="display: flex">
                            <a class="pointer" onclick="minus(this)"><button class="btn-hover">-</button></a><div><h3 id="counter-label">0</h3></div><a class="pointer"><button class="btn-hover">+</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        //querySelector('')
        const buy = (_that) => {
            let localCart  = localStorage.getItem('cart');
            if (localCart) {
                localCart = localCart.split(',');
                localCart.push(_that.getAttribute('data-id'));
                localCart = [...new Set(localCart)];
                localStorage.setItem('cart', localCart);
            } else {
                localStorage.setItem('cart', [_that.getAttribute('data-id')]);
            }
            _that.nextSibling.nextElementSibling.classList.remove('d-none');
            _that.nextSibling.nextElementSibling.querySelector('div').innerHTML = '1';
            _that.classList.add('d-none');
        }

        const minus = (_that) => {
            console.log(_that);
        }


    </script>
    <style>
        .btn-hover{min-height: 10px; width: 25px; border-radius: 50%; border: 0px; background-color: rgb(255, 200, 148); font-family: "Source Sans Pro", sans-serif; font-size: 16px;}.btn-hover:hover{}
        .pointer {
            cursor: pointer;
        }
    </style>
{% endblock %}
