{% extends 'base.html.twig' %}

{% block title %}GEZZELING HOUDEN{% endblock %}

{% block body %}
    <p>Свечка {{ product.name }}</p>
    <p>Цена: {{ product.price }}</p>
    <p>Объем: {{ product.size }}</p>
    <p>Описание: {{ product.description }}</p>
{% endblock %}
